*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.box1{
    width: 32%;
    height: 350px;
    float: left;
    border:1px solid #000;
    background-color: indigo;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 12PX;
    margin-top: 40px;
}
.h2{
    text-transform: capitalize;
    text-align: center;
    margin: 20px;
    color: #fff;

}
.currncy{
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin: 20px;
    color: #fff;
  
}
.p1{

    border-bottom: 1px dashed gray ;
    margin: 20px;
    text-align: center;
    color: #fff;
}
.btn{
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    border: 1px solid rgb(18, 224, 224);
}
.btn{
    padding: 15px;
    background-color: indigo;
    color: #fff;
}
.btn:hover{

    background-color: rgb(40, 231, 222);
    color: #000;
}
.clear{
    clear: both;
}